body {
    background: #0f172a;
    font-family: Arial, sans-serif;
    color: white;
}

.container {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: #020617;
    border-radius: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #22c55e;
    border: none;
    cursor: pointer;
}

.log {
    margin-top: 20px;
    text-align: left;
    font-size: 14px;
    color: #a5f3fc;
}
